@font-face {
  font-family: "Myriad Regular";
  src: url("./fonts/MyriadSMSI-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Myriad Semibold";
  src: url("./fonts/MyriadSMSI-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Myriad Bold";
  src: url("./fonts/MyriadSMSI-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Myriad Black";
  src: url("./fonts/MyriadSMSI-Black.woff2") format("woff2");
}

// from cmx
.ql-size-small {
  font-size: 10px;
}
.ql-size-large {
  font-size: 18px;
}
.ql-size-huge {
  font-size: 32px;
}
.ql-font-serif {
  font-family: serif;
}
.ql-font-monospace {
  font-family: 'Courier New', Courier, monospace;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}